<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold text-center text-gray-700">Iniciar Sesión</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()" class="mt-4">
            <div>
                <label class="block text-gray-700">Correo Electrónico</label>
                <input type="email" formControlName="email" placeholder="Ingrese su correo"
                    class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    class="text-red-500 text-sm">
                    Ingrese un correo válido
                </div>
            </div>
            <div class="mt-4">
                <label class="block text-gray-700">Nombre de Usuario</label>
                <input type="text" formControlName="username" placeholder="Ingrese nombre de usuario"
                    class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
                    class="text-red-500 text-sm">
                    Ingrese un usuario valido
                </div>
            </div>

            <div class="mt-4">
                <label class="block text-gray-700">Contraseña</label>
                <input type="password" formControlName="password" placeholder="Ingrese su contraseña"
                    class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="text-red-500 text-sm">
                    La contraseña debe tener al menos 6 caracteres
                </div>
            </div>

            <div class="flex items-center justify-between mt-4">
                <a href="#" class="text-sm text-blue-500 hover:underline" [routerLink]="['/auth/forgot-password']">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" [disabled]="loginForm.invalid"
                class="w-full px-4 py-2 mt-6 font-bold text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                Iniciar Sesión
            </button>
        </form>
        <div>
            <p>Puedes inicar sesion con tu correo o tu nombre de usuario</p>
        </div>
        <div *ngIf="errorMessage" class="text-red-500 text-sm text-center mt-2">
            {{ errorMessage }}
        </div>
    </div>
</div>