<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex space-x-4">
          <a *ngFor="let option of menuOptions" routerLink="{{ option.url }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">{{ option.nombreOpcion }}</a>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0 gap-3" *ngIf="loggedUser">
        <!-- <h1 class="text-white">Hola, {{ loggedUser.username }}</h1> -->
        <button type="button" class="bg-blue-600 px-3 py-2 rounded-md text-white text-sm font-medium" (click)="redirectToProfile()">
            {{ loggedUser.persona?.nombres }}
        </button>
        <button type="button" class="bg-red-600 px-3 py-2 rounded-md text-white text-sm font-medium" (click)="logout()">
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>
</nav>
