<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
      <h2 class="text-2xl font-bold text-center text-gray-700">Recuperar Contraseña</h2>
      
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()" class="mt-4">
        <div>
          <label class="block text-gray-700">Correo Electrónico</label>
          <input type="email" formControlName="email" placeholder="Ingrese su correo"
            class="w-full px-4 py-2 mt-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" 
            class="text-red-500 text-sm">
            Ingrese un correo válido
          </div>
        </div>
        
        <button type="submit" [disabled]="forgotPasswordForm.invalid" class="w-full px-4 py-2 mt-6 font-bold text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
          Recibir nueva contraseña
        </button>
      </form>

      <div class="mt-4 bg-white rounded-lg shadow-md p-6" *ngIf="generatedPassword != ''">
        <h3 class="text-xl font-bold text-center text-gray-700">Contraseña Generada:</h3>
        <p class="text-center font-bold">{{ generatedPassword }}</p>
        <p class="text-center text-sm text-gray-600">Inicia sesion con esta contraseña e inmediatamente realiza el cambio de contraseña en el perfil</p>
      </div>
      
      <div *ngIf="successMessage" class="text-green-500 text-sm text-center mt-2">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="text-red-500 text-sm text-center mt-2">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  